:root {
    /* Primary */
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-headin: hsl(0, 0%, 100%);
    --main-paragra: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
    color: var(--main-paragra);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container {
    /* min-width: 1120px; */
    background-color: var(--card-background);
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.img_container{
    width: 560px;
    height: 446px;
    mix-blend-mode: luminosity;
    /* filter: brightness(.40); */
    filter: opacity(70%);
    background-image: url("./images/image-header-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* .img_container:after{
    width: 560px;
    border: 1px solid red;
    height: 446px;
    z-index: 99999;
    background: var(--accent);
} */
.info-container {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 90px;
}
/* .img_container{

    background-image: url("./images/image-header-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */
h1 {
    color: var(--main-headin);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

h1 span {
    color: var(--accent);
}

.info_p{
    margin-top: 20px;
    line-height: 1.6;
    color: var(--stat-heading);
}

.data-info {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.data-info__p{
    color: var(--stat-heading);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 13px;

}
h2 {
    color: var(--main-headin);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

@media only screen and (max-width: 768px){
    .card-container {
        width: 654px;
        flex-direction: column-reverse;
    }
    .img_container{
        width: 654px;
        background-image: url("./images/image-header-mobile.jpg");
        background-size: cover;
    }
    .info-container {
        padding: 20px;
        margin: 20px auto;
        text-align: center;
    }

    h1 {
        font-size: 32px;
    }

    .data-info__p {
        text-align: center;
    }
    
    
}

@media only screen and (max-width: 600px) {
    main{
        height: auto;
    }
    .card-container {
        margin: calc(10%);
        flex-direction: column-reverse;
    }
    .img_container{
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
        background-size: cover;
    }
    .info-container {
        width: 320px;
        padding: 30px;
        text-align: center;
        line-height: 1.25;
    }
    .info_p{
        margin-top: 10px;
    }
    .info-container h1{
        font-size: 28px;
        padding: 5px 0;
    }
    .data-info {
        margin-top: 32px;
        height: 210px;
        flex-direction: column;
    }
}
